{{>resume-header}}

<div class="resume-body">
  {{#each sections}}
    <article>
      <header class="category">{{title}}</header>
      <div class="article-body">
        {{#each elements}}
          <section>
            <header class="position">
              <div class="header-main">
                <h3 class="item-title">
                  {{#if head.title}}
                    <span>{{ head.title }}</span>
                  {{/if}}
                </h3>
                {{#if head.role}}
                  <h3 class="role">{{ head.role }}</h3>
                {{/if}}
              </div>

              <div class="header-meta">
                {{#if time}}
                  <div class="position-duration">
                    {{time.start}} - {{time.end}}
                  </div>
                {{/if}}
                {{#if head.location}}
                  <div class="position-location">
                    {{head.location}}
                  </div>
                {{/if}}
              </div>
            </header>

            <ul class="details">
              {{#each responsibilities}}
                <li> {{this}} </li>
              {{/each}}
            </ul>
          </section>
        {{/each}}
      </div>
    </article>
  {{/each}}
</div>
